<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd
                        http://www.springframework.org/schema/mvc
                        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <!--避免IE执行AJAX时，返回JSON出现下载文件 -->
    <bean id="mappingJacksonHttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value>
                <value>text/json;charset=UTF-8</value>
                <value>application/json;charset=UTF-8</value>
            </list>
        </property>
    </bean>

    <!-- 添加注解驱动 -->
    <mvc:annotation-driven />
    <!--过滤掉所有的静态资源，把静态资直接交给tomcat去处理-->
    <mvc:default-servlet-handler/>

    <!--&lt;!&ndash;Handles HTTP GET requests for /resources/** by efficiently serving up static resources in the ${webappRoot}/resources directory&ndash;&gt;-->
    <mvc:resources mapping="/view/css/**" location="/static/css/"/>
    <mvc:resources mapping="/view/fonts/**" location="/static/fonts/"/>
    <mvc:resources mapping="/view/js/**" location="/static/js/"/>
    <mvc:resources mapping="/view/img/**" location="/static/img/"/>
    <!--<mvc:resources mapping="/WEB-INF/content/**" location="/WEB-INF/content/**" cache-period="1"/>-->

    <!-- 设置使用注解的类所在的包 -->
    <context:component-scan base-package="cn.edu.scau.DataCollectionSystem.controller"/>
    <!-- 完成请求和注解POJO的映射 -->
    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter"><!-- spring3.1之后使用这个类作为注解适配器 -->
        <property name="messageConverters">
            <list>
                <ref bean="mappingJacksonHttpMessageConverter" /> <!-- JSON转换器 -->
            </list>
        </property>
    </bean>

    <!-- 定义跳转的文件的前后缀 ，视图模式配置   -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/content/" />
        <property name="suffix" value=".html" />
    </bean>

    <!-- 拦截器 -->
    <mvc:interceptors>
        <!-- 多个拦截器，顺序执行 -->

        <!--登录认证拦截器-->
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <mvc:exclude-mapping path="/view/**" />
            <bean class="cn.edu.scau.DataCollectionSystem.interceptor.LoginInterceptor" />
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <mvc:exclude-mapping path="/view/**" />
            <bean class="cn.edu.scau.DataCollectionSystem.interceptor.UrlInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>

</beans>